$main-font: "Proxima Nova", proxima-nova, Helvetica, Arial, sans-serif;

$bh-pink: #E51F63;
$bh-grey: #5B5B5C;
$bh-blue: #2F3F48;
$bh-white: #efefef;

$dev: 2px dotted red;
/*
Font weights
100 = thin
200 = extra-light
300 = light
400 = normal, book
500 = medium
600 = semi-bold
700 = bold
800 = heavy
900 = black
*/
