$main-font: "Proxima Nova", proxima-nova, Helvetica, Arial, sans-serif;

$bh-pink: #E51F63;
$bh-light-pink: #FF7898;
$bh-grey: #5B5B5C;
$bh-blue: #2F3F48;
$bh-white: #ffffff;
$bh-grey-bg: #F5F5F5;
$bh-grey-bg-font: #4D616A;
$bh-dark-grey: #546675;
$white: #ffffff;

$dev: 2px dotted red;

$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$heavy: 800;
$black: 900;