// @import 'foundation/settings';
@import "foundation/components/grid";
@import "variables";
@import "font-awesome";

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.thin{ font-width:$thin;}
.extra-light{ font-width:$extra-light;}
.light{ font-width:$light;}
.normal{ font-width:$normal;}
.medium{ font-width:$medium;}
.semi-bold{ font-width:$semi-bold;}
.bold{ font-width:$bold;}
.heavy{ font-width:$heavy;}
.black{ font-width:$black;}

body {
    font-family: $main-font;
}

.white{
	color: #ffffff;
}
.dev {
	border:$dev;
}

.header {
    // position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: $bh-white;
    // background-image:url(../assets/images/banner4.png);
    // background-size: cover;
    .title {
        span {
            color: $bh-pink;
            font-size: 40px;
            font-weight: $semi-bold;
        }
    }
    .live {
        color: $bh-grey;
        font-size: 25px;
        font-weight: $semi-bold;
        span::before {
            content: '\25CF';
            font-size: 28px;
            color: $bh-pink;
            animation: live 2s infinite;
        }
    }
    .sections {
        border-bottom: 3px solid $bh-pink;
        span {
            display: inline-block;
            color: $bh-grey;
            font-size: 16px;
            font-weight: $normal;
            padding: 0 8px 0 8px;
            border-bottom: 10px solid rgba(255, 255, 255, 0);
        }
        span:hover, span.active {
            color: $bh-pink;
            border-bottom-color: $bh-pink;
        }
    }
    .collapse {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
        span{
        	float:left;
        }
    }
    .collapse-button {
    	cursor:pointer;
        display: none;
        color:$bh-pink;
        font-size:30px;
    }
}

section.section-title {
    padding-top: 100px;
    color: $bh-pink;
    font-size: 60px;
    font-weight: $semi-bold;
    z-index: 8888;
    a{
        color: $bh-pink;
    }
    // text-shadow: 0px 2px 0px rgba(255, 255, 255, 1);
}

section{
	.grey-background{
		color: $bh-grey-bg-font;
		background-color: $bh-grey-bg;
		border-radius: 4px;
        a{
            color: $bh-grey-bg-font;
        }
        a:hover{
            color: $bh-pink;
        }
	}
    a{
        text-decoration:none;
        color:#000000;
    }
    a:hover{
        color: $bh-pink;
    }
}
.page-title {
    margin: 1rem 0;
}

footer {
	// position:absolute;
	// bottom:0;
	// left:0;
	width:100%;
    background-color: $bh-blue;
    color: rgba(242, 242, 242, 0.5);
    font-size: 18px;
    padding: 10px;
    span {
        color: $bh-pink;
    }
}


/******************************************************
	MEDIA QUERIES
*******************************************************/

@keyframes live {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@media only screen and (max-width: 40.063em) {
    .header {
        .title {
        	padding-top:5px;
            span {
                font-size: 20px;
            }
        }
        .live {
            // font-size: 20px;
            span{
            	display:none;
            }
            span::before {
                font-size: 20px;
            }
        }
        .sections {
            span {
                font-size: 12px;
            }
        }
        .collapse {
            height: 0;
            overflow: hidden;
            text-align:center;
            span{
            	width:100%;
            	clear:left;
            	border:none;
            	font-size:20px;
            }
            span:hover{
            	border:none;
            }
        }
        .collapse.active {
            height: 240px;
            span:hover{
            	color:$bh-white;
            	background-color:$bh-pink;
            }
        }
        .collapse-button {
        	text-align:right;
            display: inherit;
        }
    }
    section.section-title {
        font-size: 40px;
    }
}

.wave:after{
	position:absolute;
}
.wave {
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding-top: 190px;
	overflow: hidden;
	div {
		margin-top: -17%;
		height: 60px;
		width: 4%;
		bottom:0;
		// border-radius: 20px;
		position: absolute;
	}
	div:hover{
		height: 100px;
		background-color:$bh-pink;
	}
	div:nth-of-type(1)  { animation: wave 17s   0.000s linear infinite; }
	div:nth-of-type(2)  { animation: wave 17s -16.227s linear infinite; }
	div:nth-of-type(3)  { animation: wave 17s -15.455s linear infinite; }
	div:nth-of-type(4)  { animation: wave 17s -14.682s linear infinite; }
	div:nth-of-type(5)  { animation: wave 17s -13.909s linear infinite; }
	div:nth-of-type(6)  { animation: wave 17s -13.136s linear infinite; }
	div:nth-of-type(7)  { animation: wave 17s -12.364s linear infinite; }
	div:nth-of-type(8)  { animation: wave 17s -11.591s linear infinite; }
	div:nth-of-type(9)  { animation: wave 17s -10.818s linear infinite; }
	div:nth-of-type(10) { animation: wave 17s -10.045s linear infinite; }
	div:nth-of-type(11) { animation: wave 17s  -9.273s linear infinite; }
	div:nth-of-type(12) { animation: wave 17s  -8.500s linear infinite; }
	div:nth-of-type(13) { animation: wave 17s  -7.727s linear infinite; }
	div:nth-of-type(14) { animation: wave 17s  -6.955s linear infinite; }
	div:nth-of-type(15) { animation: wave 17s  -6.182s linear infinite; }
	div:nth-of-type(16) { animation: wave 17s  -5.409s linear infinite; }
	div:nth-of-type(17) { animation: wave 17s  -4.636s linear infinite; }
	div:nth-of-type(18) { animation: wave 17s  -3.864s linear infinite; }
	div:nth-of-type(19) { animation: wave 17s  -3.091s linear infinite; }
	div:nth-of-type(20) { animation: wave 17s  -2.318s linear infinite; }
	div:nth-of-type(21) { animation: wave 17s  -1.545s linear infinite; }
	div:nth-of-type(22) { animation: wave 17s  -0.773s linear infinite; }
}

@keyframes wave {
	0%   { left:-2%; background: $bh-pink; }
	5%   { background: $bh-pink; }
	10%  { height:20px; margin-top: -5%; background: $bh-pink; }
	15%  { background: $bh-pink; }
	20%  { height:60px; margin-top:-17%; background: $bh-pink; }
	25%  { background: $bh-pink; }
	30%  { height:20px; margin-top: -5%; background: $bh-pink; }
	35%  { background: $bh-pink; }
	40%  { height:60px; margin-top:-17%; background: $bh-pink; }
	45%  { background: $bh-pink; }
	50%  { height:20px; margin-top: -5%; background: $bh-pink; }
	55%  { background: $bh-pink; }
	60%  { height:60px; margin-top:-17%; background: $bh-pink; }
	65%  { background: $bh-pink; }
	70%  { height:20px; margin-top: -5%; background: $bh-pink; }
	75%  { background: $bh-pink; }
	80%  { height:60px; margin-top:-17%; background: $bh-pink; }
	85%  { background: $bh-pink; }
	90%  { height:20px; margin-top: -5%; background: $bh-pink; }
	95%  { background: $bh-pink; }
	100% { height:60px; margin-top:-17%; left:100%; background: $bh-pink; }
}

$s: 4px;
$outline: #000000;
$mainColor: #FFFFFF;
$shade: #BBBBBB;
$mouth: #FD0E1B;
$eye: #000000;

.boo {
	// display:none;
	position: relative;
	left: 0;
	bottom: 150px;
	width: $s;
	height: $s;
	transform: scaleX(-1);
	// animation: live 3s infinite;
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: $s;
		height: $s;
		margin-top: -120px;
		animation: mouth 400ms steps(1) infinite;
  	}
}

.boo:hover{
	// display:block;
}

@keyframes mouth {
  0% {
    box-shadow:
    $s*5 $s $outline,
    $s*6 $s $outline,
    $s*7 $s $outline,
    $s*8 $s $outline,
    $s*9 $s $outline,
    $s*10 $s $outline,

    $s*4 $s*2 $outline,
    $s*5 $s*2 $shade,
    $s*6 $s*2 $shade,
    $s*7 $s*2 $shade,
    $s*8 $s*2 $shade,
    $s*9 $s*2 $shade,
    $s*10 $s*2 $shade,
    $s*11 $s*2 $outline,
    $s*12 $s*2 $outline,

    $s*3 $s*3 $outline,
    $s*4 $s*3 $shade,
    $s*5 $s*3 $mainColor,
    $s*6 $s*3 $mainColor,
    $s*7 $s*3 $mainColor,
    $s*8 $s*3 $mainColor,
    $s*9 $s*3 $mainColor,
    $s*10 $s*3 $mainColor,
    $s*11 $s*3 $shade,
    $s*12 $s*3 $shade,
    $s*13 $s*3 $outline,

    $s*2 $s*4 $outline,
    $s*3 $s*4 $shade,
    $s*4 $s*4 $mainColor,
    $s*5 $s*4 $mainColor,
    $s*6 $s*4 $mainColor,
    $s*7 $s*4 $mainColor,
    $s*8 $s*4 $mainColor,
    $s*9 $s*4 $mainColor,
    $s*10 $s*4 $mainColor,
    $s*11 $s*4 $mainColor,
    $s*12 $s*4 $mainColor,
    $s*13 $s*4 $shade,
    $s*14 $s*4 $outline,

    $s*2 $s*5 $outline,
    $s*3 $s*5 $shade,
    $s*4 $s*5 $outline,
    $s*5 $s*5 $mainColor,
    $s*6 $s*5 $outline,
    $s*7 $s*5 $mainColor,
    $s*8 $s*5 $mainColor,
    $s*9 $s*5 $mainColor,
    $s*10 $s*5 $mainColor,
    $s*11 $s*5 $mainColor,
    $s*12 $s*5 $mainColor,
    $s*13 $s*5 $mainColor,
    $s*14 $s*5 $shade,
    $s*15 $s*5 $outline,

    $s $s*6 $outline,
    $s*2 $s*6 $shade,
    $s*3 $s*6 $mainColor,
    $s*4 $s*6 $outline,
    $s*5 $s*6 $mainColor,
    $s*6 $s*6 $outline,
    $s*7 $s*6 $mainColor,
    $s*8 $s*6 $mainColor,
    $s*9 $s*6 $mainColor,
    $s*10 $s*6 $mainColor,
    $s*11 $s*6 $outline,
    $s*12 $s*6 $outline,
    $s*13 $s*6 $outline,
    $s*14 $s*6 $mainColor,
    $s*15 $s*6 $shade,
    $s*16 $s*6 $outline,

    $s $s*7 $outline,
    $s*2 $s*7 $shade,
    $s*3 $s*7 $mainColor,
    $s*4 $s*7 $outline,
    $s*5 $s*7 $mainColor,
    $s*6 $s*7 $outline,
    $s*7 $s*7 $mainColor,
    $s*8 $s*7 $mainColor,
    $s*9 $s*7 $mainColor,
    $s*10 $s*7 $outline,
    $s*11 $s*7 $mainColor,
    $s*12 $s*7 $mainColor,
    $s*13 $s*7 $outline,
    $s*14 $s*7 $mainColor,
    $s*15 $s*7 $shade,
    $s*16 $s*7 $outline,

    $s $s*8 $outline,
    $s*2 $s*8 $shade,
    $s*3 $s*8 $mainColor,
    $s*4 $s*8 $mainColor,
    $s*5 $s*8 $mainColor,
    $s*6 $s*8 $mainColor,
    $s*7 $s*8 $mainColor,
    $s*8 $s*8 $mainColor,
    $s*9 $s*8 $mainColor,
    $s*10 $s*8 $mainColor,
    $s*11 $s*8 $mainColor,
    $s*12 $s*8 $shade,
    $s*13 $s*8 $outline,
    $s*14 $s*8 $mainColor,
    $s*15 $s*8 $outline,

    $s $s*9 $outline,
    $s*2 $s*9 $shade,
    $s*3 $s*9 $mouth,
    $s*4 $s*9 $mainColor,
    $s*5 $s*9 $mouth,
    $s*6 $s*9 $mainColor,
    $s*7 $s*9 $mouth,
    $s*8 $s*9 $mainColor,
    $s*9 $s*9 $mainColor,
    $s*10 $s*9 $mainColor,
    $s*11 $s*9 $mainColor,
    $s*12 $s*9 $outline,
    $s*13 $s*9 $mainColor,
    $s*14 $s*9 $mainColor,
    $s*15 $s*9 $shade,
    $s*16 $s*9 $outline,

    $s $s*10 $outline,
    $s*2 $s*10 $shade,
    $s*3 $s*10 $mouth,
    $s*4 $s*10 $mouth,
    $s*5 $s*10 $mouth,
    $s*6 $s*10 $mouth,
    $s*7 $s*10 $mouth,
    $s*8 $s*10 $mainColor,
    $s*9 $s*10 $mainColor,
    $s*10 $s*10 $mainColor,
    $s*11 $s*10 $mainColor,
    $s*12 $s*10 $mainColor,
    $s*13 $s*10 $mainColor,
    $s*14 $s*10 $mainColor,
    $s*15 $s*10 $shade,
    $s*16 $s*10 $outline,

    $s $s*11 $outline,
    $s*2 $s*11 $shade,
    $s*3 $s*11 $mouth,
    $s*4 $s*11 $mouth,
    $s*5 $s*11 $mouth,
    $s*6 $s*11 $mouth,
    $s*7 $s*11 $mouth,
    $s*8 $s*11 $mainColor,
    $s*9 $s*11 $mainColor,
    $s*10 $s*11 $mainColor,
    $s*11 $s*11 $mainColor,
    $s*12 $s*11 $mainColor,
    $s*13 $s*11 $mainColor,
    $s*14 $s*11 $mainColor,
    $s*15 $s*11 $shade,
    $s*16 $s*11 $outline,

    $s*2 $s*12 $outline,
    $s*3 $s*12 $shade,
    $s*4 $s*12 $mouth,
    $s*5 $s*12 $mouth,
    $s*6 $s*12 $mouth,
    $s*7 $s*12 $mouth,
    $s*8 $s*12 $mouth,
    $s*9 $s*12 $mainColor,
    $s*10 $s*12 $mainColor,
    $s*11 $s*12 $mainColor,
    $s*12 $s*12 $mainColor,
    $s*13 $s*12 $mainColor,
    $s*14 $s*12 $mainColor,
    $s*15 $s*12 $shade,
    $s*16 $s*12 $outline,

    $s*2 $s*13 $outline,
    $s*3 $s*13 $shade,
    $s*4 $s*13 $mouth,
    $s*5 $s*13 $mainColor,
    $s*6 $s*13 $mouth,
    $s*7 $s*13 $mainColor,
    $s*8 $s*13 $mouth,
    $s*9 $s*13 $mainColor,
    $s*10 $s*13 $mainColor,
    $s*11 $s*13 $mainColor,
    $s*12 $s*13 $mainColor,
    $s*13 $s*13 $mainColor,
    $s*14 $s*13 $shade,
    $s*15 $s*13 $outline,

    $s*3 $s*14 $outline,
    $s*4 $s*14 $shade,
    $s*5 $s*14 $shade,
    $s*6 $s*14 $mainColor,
    $s*7 $s*14 $mainColor,
    $s*8 $s*14 $mainColor,
    $s*9 $s*14 $mainColor,
    $s*10 $s*14 $mainColor,
    $s*11 $s*14 $mainColor,
    $s*12 $s*14 $shade,
    $s*13 $s*14 $shade,
    $s*14 $s*14 $outline,

    $s*4 $s*15 $outline,
    $s*5 $s*15 $outline,
    $s*6 $s*15 $shade,
    $s*7 $s*15 $shade,
    $s*8 $s*15 $shade,
    $s*9 $s*15 $shade,
    $s*10 $s*15 $shade,
    $s*11 $s*15 $shade,
    $s*12 $s*15 $outline,
    $s*13 $s*15 $outline,

    $s*6 $s*16 $outline,
    $s*7 $s*16 $outline,
    $s*8 $s*16 $outline,
    $s*9 $s*16 $outline,
    $s*10 $s*16 $outline,
    $s*11 $s*16 $outline,
  ;
  }
  50% {
    box-shadow:
    $s*5 $s $outline,
    $s*6 $s $outline,
    $s*7 $s $outline,
    $s*8 $s $outline,
    $s*9 $s $outline,
    $s*10 $s $outline,

    $s*4 $s*2 $outline,
    $s*5 $s*2 $shade,
    $s*6 $s*2 $shade,
    $s*7 $s*2 $shade,
    $s*8 $s*2 $shade,
    $s*9 $s*2 $shade,
    $s*10 $s*2 $shade,
    $s*11 $s*2 $outline,
    $s*12 $s*2 $outline,

    $s*3 $s*3 $outline,
    $s*4 $s*3 $shade,
    $s*5 $s*3 $mainColor,
    $s*6 $s*3 $mainColor,
    $s*7 $s*3 $mainColor,
    $s*8 $s*3 $mainColor,
    $s*9 $s*3 $mainColor,
    $s*10 $s*3 $mainColor,
    $s*11 $s*3 $shade,
    $s*12 $s*3 $shade,
    $s*13 $s*3 $outline,

    $s*2 $s*4 $outline,
    $s*3 $s*4 $shade,
    $s*4 $s*4 $mainColor,
    $s*5 $s*4 $mainColor,
    $s*6 $s*4 $mainColor,
    $s*7 $s*4 $mainColor,
    $s*8 $s*4 $mainColor,
    $s*9 $s*4 $mainColor,
    $s*10 $s*4 $mainColor,
    $s*11 $s*4 $mainColor,
    $s*12 $s*4 $mainColor,
    $s*13 $s*4 $shade,
    $s*14 $s*4 $outline,

    $s*2 $s*5 $outline,
    $s*3 $s*5 $shade,
    $s*4 $s*5 $outline,
    $s*5 $s*5 $mainColor,
    $s*6 $s*5 $outline,
    $s*7 $s*5 $mainColor,
    $s*8 $s*5 $mainColor,
    $s*9 $s*5 $mainColor,
    $s*10 $s*5 $mainColor,
    $s*11 $s*5 $mainColor,
    $s*12 $s*5 $mainColor,
    $s*13 $s*5 $mainColor,
    $s*14 $s*5 $shade,
    $s*15 $s*5 $outline,

    $s $s*6 $outline,
    $s*2 $s*6 $shade,
    $s*3 $s*6 $mainColor,
    $s*4 $s*6 $outline,
    $s*5 $s*6 $mainColor,
    $s*6 $s*6 $outline,
    $s*7 $s*6 $mainColor,
    $s*8 $s*6 $mainColor,
    $s*9 $s*6 $mainColor,
    $s*10 $s*6 $mainColor,
    $s*11 $s*6 $outline,
    $s*12 $s*6 $outline,
    $s*13 $s*6 $outline,
    $s*14 $s*6 $mainColor,
    $s*15 $s*6 $shade,
    $s*16 $s*6 $outline,

    $s $s*7 $outline,
    $s*2 $s*7 $shade,
    $s*3 $s*7 $mainColor,
    $s*4 $s*7 $outline,
    $s*5 $s*7 $mainColor,
    $s*6 $s*7 $outline,
    $s*7 $s*7 $mainColor,
    $s*8 $s*7 $mainColor,
    $s*9 $s*7 $mainColor,
    $s*10 $s*7 $outline,
    $s*11 $s*7 $mainColor,
    $s*12 $s*7 $mainColor,
    $s*13 $s*7 $outline,
    $s*14 $s*7 $mainColor,
    $s*15 $s*7 $shade,
    $s*16 $s*7 $outline,

    $s $s*8 $outline,
    $s*2 $s*8 $shade,
    $s*3 $s*8 $mainColor,
    $s*4 $s*8 $mainColor,
    $s*5 $s*8 $mainColor,
    $s*6 $s*8 $mainColor,
    $s*7 $s*8 $mainColor,
    $s*8 $s*8 $mainColor,
    $s*9 $s*8 $mainColor,
    $s*10 $s*8 $mainColor,
    $s*11 $s*8 $mainColor,
    $s*12 $s*8 $shade,
    $s*13 $s*8 $outline,
    $s*14 $s*8 $mainColor,
    $s*15 $s*8 $outline,

    $s $s*9 $outline,
    $s*2 $s*9 $shade,
    $s*3 $s*9 $mouth,
    $s*4 $s*9 $mainColor,
    $s*5 $s*9 $mouth,
    $s*6 $s*9 $mainColor,
    $s*7 $s*9 $mouth,
    $s*8 $s*9 $mainColor,
    $s*9 $s*9 $mainColor,
    $s*10 $s*9 $mainColor,
    $s*11 $s*9 $mainColor,
    $s*12 $s*9 $outline,
    $s*13 $s*9 $mainColor,
    $s*14 $s*9 $mainColor,
    $s*15 $s*9 $shade,
    $s*16 $s*9 $outline,

    $s $s*10 $outline,
    $s*2 $s*10 $shade,
    $s*3 $s*10 $mainColor,
    $s*4 $s*10 $mouth,
    $s*5 $s*10 $mainColor,
    $s*6 $s*10 $mouth,
    $s*7 $s*10 $mainColor,
    $s*8 $s*10 $mainColor,
    $s*9 $s*10 $mainColor,
    $s*10 $s*10 $mainColor,
    $s*11 $s*10 $mainColor,
    $s*12 $s*10 $mainColor,
    $s*13 $s*10 $mainColor,
    $s*14 $s*10 $mainColor,
    $s*15 $s*10 $shade,
    $s*16 $s*10 $outline,

    $s $s*11 $outline,
    $s*2 $s*11 $shade,
    $s*3 $s*11 $mainColor,
    $s*4 $s*11 $mainColor,
    $s*5 $s*11 $mainColor,
    $s*6 $s*11 $mainColor,
    $s*7 $s*11 $mainColor,
    $s*8 $s*11 $mainColor,
    $s*9 $s*11 $mainColor,
    $s*10 $s*11 $mainColor,
    $s*11 $s*11 $mainColor,
    $s*12 $s*11 $mainColor,
    $s*13 $s*11 $mainColor,
    $s*14 $s*11 $mainColor,
    $s*15 $s*11 $shade,
    $s*16 $s*11 $outline,

    $s*2 $s*12 $outline,
    $s*3 $s*12 $shade,
    $s*4 $s*12 $mainColor,
    $s*5 $s*12 $mainColor,
    $s*6 $s*12 $mainColor,
    $s*7 $s*12 $mainColor,
    $s*8 $s*12 $mainColor,
    $s*9 $s*12 $mainColor,
    $s*10 $s*12 $mainColor,
    $s*11 $s*12 $mainColor,
    $s*12 $s*12 $mainColor,
    $s*13 $s*12 $mainColor,
    $s*14 $s*12 $mainColor,
    $s*15 $s*12 $shade,
    $s*16 $s*12 $outline,

    $s*2 $s*13 $outline,
    $s*3 $s*13 $shade,
    $s*4 $s*13 $mainColor,
    $s*5 $s*13 $mainColor,
    $s*6 $s*13 $mainColor,
    $s*7 $s*13 $mainColor,
    $s*8 $s*13 $mainColor,
    $s*9 $s*13 $mainColor,
    $s*10 $s*13 $mainColor,
    $s*11 $s*13 $mainColor,
    $s*12 $s*13 $mainColor,
    $s*13 $s*13 $mainColor,
    $s*14 $s*13 $shade,
    $s*15 $s*13 $outline,

    $s*3 $s*14 $outline,
    $s*4 $s*14 $shade,
    $s*5 $s*14 $shade,
    $s*6 $s*14 $mainColor,
    $s*7 $s*14 $mainColor,
    $s*8 $s*14 $mainColor,
    $s*9 $s*14 $mainColor,
    $s*10 $s*14 $mainColor,
    $s*11 $s*14 $mainColor,
    $s*12 $s*14 $shade,
    $s*13 $s*14 $shade,
    $s*14 $s*14 $outline,

    $s*4 $s*15 $outline,
    $s*5 $s*15 $outline,
    $s*6 $s*15 $shade,
    $s*7 $s*15 $shade,
    $s*8 $s*15 $shade,
    $s*9 $s*15 $shade,
    $s*10 $s*15 $shade,
    $s*11 $s*15 $shade,
    $s*12 $s*15 $outline,
    $s*13 $s*15 $outline,

    $s*6 $s*16 $outline,
    $s*7 $s*16 $outline,
    $s*8 $s*16 $outline,
    $s*9 $s*16 $outline,
    $s*10 $s*16 $outline,
    $s*11 $s*16 $outline,

    ;
  }
}