// @import 'foundation/settings';
@import "foundation/components/grid";
@import "variables";
@import "font-awesome";

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

body {
    font-family: $main-font;
}

.dev {
	border:$dev;
}

.header {
    // position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: $bh-white;
    // background-image:url(../assets/images/banner4.png);
    // background-size: cover;
    .title {
        span {
            color: $bh-pink;
            font-size: 40px;
            font-weight: $semi-bold;
            font-style: italic;
        }
    }
    .live {
        color: $bh-grey;
        font-size: 25px;
        font-weight: $semi-bold;
        span::before {
            content: '\25CF';
            font-size: 28px;
            color: $bh-pink;
            animation: live 2s infinite;
        }
    }
    .sections {
        border-bottom: 2px solid $bh-pink;
        span {
            display: inline-block;
            color: $bh-grey;
            font-size: 20px;
            font-weight: $normal;
            padding: 0 8px 0 8px;
            border-bottom: 10px solid rgba(255, 255, 255, 0);
        }
        span:hover, span.active {
            color: $bh-pink;
            border-bottom-color: $bh-pink;
        }
    }
    .collapse {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
        span{
        	float:left;
        }
    }
    .collapse-button {
    	cursor:pointer;
        display: none;
        color:$bh-pink;
        font-size:30px;
    }
}

section.section-title {
    padding-top: 100px;
    color: $bh-pink;
    font-size: 60px;
    font-weight: $semi-bold;
    z-index: 8888;
    // text-shadow: 0px 2px 0px rgba(255, 255, 255, 1);
}

section{
	.grey-background{
		color: $bh-grey-bg-font;
		background-color: $bh-grey-bg;
		border-radius: 4px;
	}
}
.page-title {
    margin: 1rem 0;
}

footer {
	// position:absolute;
	// bottom:0;
	// left:0;
	width:100%;
    background-color: $bh-blue;
    color: rgba(242, 242, 242, 0.5);
    font-size: 18px;
    padding: 10px;
    span {
        color: $bh-pink;
    }
}


/******************************************************
	MEDIA QUERIES
*******************************************************/

@keyframes live {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@media only screen and (max-width: 40.063em) {
    .header {
        .title {
        	padding-top:5px;
            span {
                font-size: 20px;
            }
        }
        .live {
            // font-size: 20px;
            span{
            	display:none;
            }
            span::before {
                font-size: 20px;
            }
        }
        .sections {
            span {
                font-size: 12px;
            }
        }
        .collapse {
            height: 0;
            overflow: hidden;
            text-align:center;
            span{
            	width:100%;
            	clear:left;
            	border:none;
            	font-size:20px;
            }
            span:hover{
            	border:none;
            }
        }
        .collapse.active {
            height: 220px;
            span:hover{
            	color:$bh-white;
            	background-color:$bh-pink;
            }
        }
        .collapse-button {
        	text-align:right;
            display: inherit;
        }
    }
    section.section-title {
        font-size: 40px;
    }
}
