@import "variables";

section.parse{
    padding:10px;

}

section.faqs{
    margin-bottom: 3rem;

    .title{
        font-size:20px;
        font-weight: $semi-bold;
        color:$bh-pink;
        cursor:pointer;
    }

    .text{
        height:0;
        overflow:hidden;
        width:200px;
        margin: 0 auto;
    }
}

.faqs .active{
    .text{
        height:150%;
    }
}
