@import "variables";

section.faqs{
    .questions{
        padding-top:10px;
    }
    .title{
        font-size:20px;
        font-weight: $semi-bold;
        color:$bh-pink;
        cursor:pointer;
    }

    .text{
        height:0;
        overflow:hidden;
        width:200px;
        margin: 0 auto;
    }
    .info > div{
        max-width:50%;
        min-width:350px;
        margin: 0 auto;
        padding: 20px;
    }
}

.faqs .active{
    .text{
        height:150%;
    }
}


