@import "variables";

section.hardware{
	margin-bottom: 3rem;
	
	.row{
		max-width: 52rem;
	}

	.grey-background{
		color: #4D616A;
		background-color: #F5F5F5;
		border-radius: 4px;
	}

	.hardware-list{
		list-style-type: none;
	}

	.hardware-title{
		color: #E51F63;
	}
}