@import "variables";

section.announcements{

	#first-column{
		margin-right: 2.5rem;
	}

	.grey-background{
		max-width: 30rem;
	}

	.dark-title{
		background-color: #2F3F48;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		max-width: 30rem;
	}

	.white{
		color: white;
		margin: 5px 0;
	}

	.semi-bold{
		font-weight: $semi-bold;
	}

	.light-border{
		border: 1px solid #E6E6E6;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	.light-border p a{
		text-decoration: none;
		color: #2C383D;
	}

	.light-border p a:hover{
		text-decoration: none;
		color: #0692D1;
	}

	.list{
		list-style-type: none;
	}

	/* start soc_icons */
	.soc_icons ul{
		margin-bottom: 0;
		border-bottom-left: 4px;	
		border-bottom-right: 4px;
	}
	.soc_icons ul li{
		display:inline-block;
		margin-left: 1.1rem;
	}
	.soc_icons ul li a{
		color: #ffffff;
		font-size: 24px;
		display: block;
	}
	.soc_icons ul li a i{
		line-height: 40px;
		width: 100px;
		height: 40px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.soc_icons ul li a i.fa-facebook {
		background: #3660A0;
		border-radius: 4px;
	}
	.soc_icons ul li a i.fa-facebook:hover{
		background: #2F3F48;
	}
	.soc_icons ul li a i.fa-twitter {
		background: #2CAAE1;
		border-radius: 4px;
	}
	.soc_icons ul li a i.fa-twitter:hover{
		background: #2F3F48;
	}
	.soc_icons ul li a i.fa-slack {
		background: #E4186C;
		border-radius: 4px;
	}
	.soc_icons ul li a i.fa-slack:hover{
		background: #2F3F48;
	}
}

@media only screen and (max-width: 43em) {
	section.announcements{
		#first-column{
			margin-right: 0rem;
		}

		.soc_icons ul li a i{
			text-decoration: none;
			width: 80px;
			height: 40px;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}

		.soc_icons ul li{
			margin-left: -4px;
		}
	}
}

@media only screen and (max-width: 30em) {
	section.announcements{
		.soc_icons ul li{
			margin-left: 1.5rem;
		}
	}
}