@import "variables";

section.announcments{
    .twitter, .parse{
    	h1 {
    	    color: $bh-dark-grey;
    	    padding: 0;
    	    margin: 0;
    	}
    }
    .sub-title{
        background-color: $bh-dark-grey;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 0.1rem;

        h1 {
            color: $bh-white;
            font-weight: $normal;
            padding: 0;
            margin: 0;
            padding-left: 0.9rem;
        }
    }

    .parse{
        height:407px;
        position:relative;
        .parse-wrapper{
            min-height:110px;
            border: 1px solid rgba(225,225,225,0);
            padding:10px;
            margin-bottom:10px;
        }
        .parse-wrapper:hover{
            border-color: $bh-grey-bg-font;
        }
        .parse-title{
            float:left;
            font-weight: $bold;
        }
        .parse-date{
            float:right;
            color:$bh-grey-bg-font;
        }
        .parse-content{
            float:left;
            text-align:left;

        }
        .grey-background{
            color:#000000;
            text-align:center;
            padding:10px 40px 0 40px;
            overflow:scroll;
            height:100%;
        }
    }
}

section.info {
    .sub-title{
        background-color: $bh-dark-grey;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 0.1rem;

        h1 {
            color: $bh-white;
            font-weight: $normal;
            padding: 0;
            margin: 0;
            padding-left: 0.9rem;
        }
    }
    .dark-title {
        // background-color: $bh-dark-grey;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        p{
        	padding: 0;
        	margin: 0;
        }
    }
    .grey-background{
    	padding: 20px;
    	min-height: 170px;
    }
    .semi-bold {
        font-weight: $semi-bold;
    }
    a {
        text-decoration: none;
        color: #2C383D;
    }
    a:hover {
        color: $bh-pink;
    }
    .social{
    	/*
    	ERASE THIS
    	 */
    	padding-top:50px;
        margin-bottom: 0;
        border-bottom-left: 4px;
        border-bottom-right: 4px;
        a {
            color: #ffffff;
            font-size: 24px;
            display: block;
            i {
                line-height: 40px;
                width: 100px;
                height: 40px;
                // -webkit-transition: all 0.3s ease-in-out;
                // -moz-transition: all 0.3s ease-in-out;
                // -o-transition: all 0.3s ease-in-out;
                // transition: all 0.3s ease-in-out;
            }
        }
        .fa-facebook {
            background: #3660A0;
            border-radius: 4px;
        }
        .fa-facebook:hover {
            color: $bh-pink;
            background: $white;
        }
        .fa-twitter {
            background: #2CAAE1;
            border-radius: 4px;
        }
        .fa-twitter:hover {
            color: $bh-pink;
            background: $white;
        }
        .fa-slack {
            background: #E4186C;
            border-radius: 4px;
        }
        .fa-slack:hover {
            color: $bh-pink;
            background: $white;
        }
    }
}
