.company-logo {
	text-align:center;
	img{
		height:50px;
		width:auto;
	}

}

.company-logo-2 {
	text-align:center;
	img{
		height:50px;
		width:auto;
	}

}

.copany-logo-3 {
	text-align:center;
	img{
		height:50px;
		width:auto;
	}

}

.organizer-logo {
	text-align:center;
	img{
		height:50px;
		width:auto;
	}
}