@import "variables";

section.travel{
	.grey-background{
		color: #4D616A;
		background-color: #F5F5F5;
		border-radius: 4px;
		padding: 5px;
		margin-bottom: 20px;
		a{
			color: $bh-grey-bg-font;
		}
		ul{
            padding: 0;
            margin: 1rem;
        }
	}

	.smaller-row{
		max-width: 52rem;
	}

	.travel-list{
		list-style-type: none;
	}

	.travel-subtitle{
		color: #E51F63;
	}

	.silver{
		color: #8C8C8C;
	}

	.red{
		color: #E61E49;
	}

	.green{
		color: #10B328;
	}
	a{
		color:#000000;
		text-decoration:none;
	}
	a:hover{
		color:$bh-pink;
	}
}